<html>

  <form class="form-horizontal">
  <fieldset>

  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Register</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">User ID</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Nama</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">IP Cabang Tujuan</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="transfer"></label>
    <div class="col-md-4">
      <button id="transfer" name="transfer" class="btn btn-default">Register</button>
    </div>
  </div>

  </fieldset>
  </form>


  <!-- Form Name -->
  <legend>GetSaldo</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">User ID</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">IP Cabang Tujuan</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="transfer"></label>
    <div class="col-md-4">
      <button id="transfer" name="transfer" class="btn btn-default">GetSaldo</button>
    </div>
  </div>

  </fieldset>
  </form>

  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>GetTotalSaldo</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">User ID</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">IP Cabang Tujuan</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="transfer"></label>
    <div class="col-md-4">
      <button id="transfer" name="transfer" class="btn btn-default">GetTotalSaldo/button>
    </div>
  </div>

  </fieldset>
  </form>


  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <legend>Transfer</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">User ID</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Jumlah Transfer</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">IP Cabang Tujuan</label>  
    <div class="col-md-4">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="transfer"></label>
    <div class="col-md-4">
      <button id="transfer" name="transfer" class="btn btn-default">Transfer</button>
    </div>
  </div>

  </fieldset>
  </form>
</html>