<html>
  <h2 align="center">Kantor Cabang 1406543725</h2>
  <form method="POST" class="form-horizontal"> {% csrf_token %}
  <fieldset>

  <!-- Form Name -->
  <legend>Register</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">User ID</label>  
    <div class="col-md-4">
    <input id="user_id1" name="user_id" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Nama</label>  
    <div class="col-md-4">
    <input id="nama1" name="nama" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

<div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Tujuan</label>
    <div class="col-md-4">
    <input id="cabang1" name="cabang" type="text" placeholder="" class="form-control input-md" required="">

    </div>
  </div>

  <!-- Text input-->
    <!--<input id="cabang1" type="hidden" name="cabang" type="text" placeholder="" class="form-control input-md" value="172.17.0.49" required="">-->

  <input type='hidden' name="command" value="register" />

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="transfer"></label>
    <div class="col-md-4">
      <button id="register" type="submit" name="register" class="btn btn-default">Register</button>
    </div>
  </div>

  </fieldset>
  </form>

  <form method="POST" class="form-horizontal"> {% csrf_token %}
  <fieldset>

  <!-- Form Name -->
  <legend>GetSaldo</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">User ID</label>  
    <div class="col-md-4">
    <input id="user_id1" name="user_id" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

<div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Tujuan</label>
    <div class="col-md-4">
    <input id="cabang2" name="cabang" type="text" placeholder="" class="form-control input-md" required="">

    </div>
  </div>

  <!-- Text input-->
  
 <!--   <input id="cabang2" type="hidden" name="cabang" type="text" placeholder="" class="form-control input-md" value="172.17.0.49" required=""> -->

  <input type='hidden' name="command" value="getsaldo" />

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="transfer"></label>
    <div class="col-md-4">
      <button id="getsaldo" type="submit" name="getsaldo" class="btn btn-default">GetSaldo</button>
    </div>
  </div>

  </fieldset>
  </form>

  <form method="POST" class="form-horizontal"> {% csrf_token %}
  <fieldset>

  <!-- Form Name -->
  <legend>GetTotalSaldo</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">User ID</label>  
    <div class="col-md-4">
    <input id="user_id3" name="user_id" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

<div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Tujuan</label>
    <div class="col-md-4">
    <input id="cabang3" name="cabang" type="text" placeholder="" class="form-control input-md" required="">

    </div>
  </div>

  <!-- Text input-->
    <!--<input id="cabang3" type="hidden" name="cabang" type="text" placeholder="" class="form-control input-md" value="172.17.0.49" required="">-->

  <input type='hidden' name="command" value="gettotalsaldo" />

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="transfer"></label>
    <div class="col-md-4">
      <button id="gettotalsaldo" type="submit" name="gettotalsaldo" class="btn btn-default">GetTotalSaldo</button>
    </div>
  </div>

  </fieldset>
  </form>


  <form method="POST" class="form-horizontal"> {% csrf_token %}
  <fieldset>

  <!-- Form Name -->
  <legend>Transfer</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">User ID</label>  
    <div class="col-md-4">
    <input id="user_id4" name="user_id" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Jumlah Transfer</label>  
    <div class="col-md-4">
    <input id="jumlah_transfer" name="jumlah_transfer" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Tujuan</label>  
    <div class="col-md-4">
    <input id="cabang4" name="cabang" type="text" placeholder="" class="form-control input-md" required="">
      
    </div>
  </div>

  <input type='hidden' name="command" value="transfer" />

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="transfer"></label>
    <div class="col-md-4">
      <button id="transfer" type="submit" name="transfer" class="btn btn-default">Transfer</button>
    </div>
  </div>

  </fieldset>
  </form>
</html>
